<h1><%= @player1name %>, ready? Hit points: <%= @player1hp %></h1>
<h1><%= @player2name %>, ready? Hit points: <%= @player2hp %></h1><br>
<form action="/hit">
  <input type="submit" value="Attack">
</form>
